body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #d9f4f8da, #d698adc7);
  overflow-x: hidden;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.toast-success {
  background-color: #4caf50 !important;
}

.toast-error {
  background-color: #f44336 !important;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
