.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:linear-gradient(to bottom right, #10e468c9, #c8ca3cef);
  color: rgb(0, 0, 0);
  padding: 12px 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 140px;
  height: 60px;
  margin-right: 10px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.version-tag {
  font-size: 0.85rem;
  opacity: 0.7;
}
